@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}
.py {
  padding: 70px 0;
}
button {
  outline: none;
  border: none;
}
.container {
  width: 70%;
  margin: auto;
}

ul.menuItem {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

/*Navbar */
ul.navbar-nav li a {
  font-weight: 600;
}
li.nav-item {
  margin-right: 20px;
}
ul.navbar-nav li a:hover {
  color: #35cc9d !important;
}
nav.navbar.navbar-expand-lg.navbar-light {
  padding: 20px 0;
}
@media (max-width: 992px) {
  .navbar-nav {
    margin-top: 20px;
  }
  li.nav-item {
    background: whitesmoke;
    padding: 0 20px;
  }
  button.sc-bdvvtL.WMyLl {
    display: none;
  }
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 15px 0;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0;
  }
  li.nav-item {
    margin-right: 0px;
  }
}
